// -------------------about section------------------------

.about-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
    max-width: 900px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-container--half {
    flex: 1 0 50%;
    padding: 0 50px;
}

.gallery-cell {
    position: relative; 
}

.gallery-cell--half {
    flex: 1 0 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.gallery-cell--padding-right {
    padding-right: 60px;
}

.gallery-cell--padding-left {
    padding-left: 60px;
}

.gallery-cell__header {
    padding: 30px 0;
}

.gallery-cell__img--smaller-width {
    max-width: 85%;
}

.info-paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info-paragraph__p {
    padding: 20px 35px;
}

.info-paragraph--half {
    flex: 1 0 50%;
}

.info-paragraph__p--white {
    color: white;
}

.info-paragraph__p--thirds {
    flex: 1 0 33%;
}

