// --------------------- blog section ------------------

.blog {
    padding-bottom: 100px;
}

.gallery-cell--margin {
    margin: 10px;
    flex: 1 0 calc(33% - 20px);
}

.blog-thumbnail__header {
    padding: 10px 0;
}

.blog-thumbnail__link {
    color: $red;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
}

.blog-thumbnail__link__icon {
    color: $red;
    font-size: 1.1rem;
    position: absolute;
    right: -15px;
    top: -1px;
}