//--------------------header section----------------------

.header {
    background-image: url(assets/image-1.jpeg);
    height: 110vh;
    background-size: cover;
}

.title {
    color: white;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    &__h3 {
        padding: 15px 0;
    }
}

.title__h1 {
    color: white;
}

.title__h3 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

.button {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    display: block;
    background: $red;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    text-transform: uppercase;
    border: 2px solid transparent;
    &:hover {
        background:rgba(white, 0.8);
        border: $red 2px solid;
        color: $red;
    }
}

.button--black {
    background: $charcoal; 
    &:hover {
        background:rgba(white, 0.8);
        border: $charcoal 2px solid;
        color: $charcoal;
    }
}
