//global typography styles

$main-heading-font: "Raleway", sans-serif;
$main-body-font: "Lora", serif;

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: $main-heading-font;
    margin: 0;
    padding: 0;
    color: $charcoal;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.2rem;
    padding: 80px 0 65px 0;
    text-align: center;
    font-weight: 800;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
    text-transform: capitalize;
}
h6 {
    font-size: 1.2rem;
    text-align:center;
    color: white;
}

p {
    font-size: 1.8rem;
    font-family: $main-body-font;
    line-height: 1.5;
    margin: 0;
    color: $charcoal;
}

ul {
    margin: 0;
    padding: 0;
}

