@import "setup";
@import "utils";
@import "typography";



html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    // border: red 0.5px solid;
}

//--------------------header section----------------------

.header {
    background-image: url(assets/image-1.jpeg);
    height: 110vh;
    background-size: cover;
}

.nav {
    display: flex; 
    padding-top: 50px; 
}

.nav__logo {
        color: white;
        flex: 1 1 40%;
        padding: 0;
        margin: 0;
        text-align: left;
        letter-spacing: 1px;
        font-weight: 700;
    }

.nav__list {
        flex: 1 0 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

.nav__item {
        display: inline;
    }

.nav__link {
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

.title {
    color: white;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    &__h3 {
        padding: 15px 0;
    }
}

.title__h1 {
    color: white;
}

.title__h3 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

.button {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    display: block;
    background: $red;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    text-transform: uppercase;
    &:hover {
        background:rgba(white, 0.8);
        border: $red 2px solid;
        color: $red;
    }
}


// -------------------about section------------------------

.about-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 75px;
    max-width: 900px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-container--half {
    flex: 1 0 50%;
    padding: 0 50px;
    
}

.gallery-cell {
    position: relative; 
}

.gallery-cell--half {
    flex: 1 0 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.gallery-cell--padding-right {
    padding-right: 60px;
}

.gallery-cell--padding-left {
    padding-left: 60px;
}

.gallery-cell__header {
    padding: 30px 0;
}

.gallery-cell__img--smaller-width {
    max-width: 85%;
}

.info-paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info-paragraph__p {
    padding: 20px 35px;
}

.info-paragraph--half {
    flex: 1 0 50%;
}

.info-paragraph__p--white {
    color: white;
}

.info-paragraph__p--thirds {
    flex: 1 0 33%;
}

.welcome {
    background: $yellow;
    padding-bottom: 80px;
}

.button--black {
    background: $charcoal; 
    &:hover {
        background:rgba(white, 0.8);
        border: $charcoal 2px solid;
        color: $charcoal;
    }
}

.button--padding {
    margin-top: 50px;
}

.info-paragraph__p--large {
    font-size: 2rem;
}

.info-paragraph__p--no-padding {
    padding:0;
}

.services {
    padding-bottom: 100px;
}

.info-paragraph__p--small {
    font-size: 1.6rem;
}

.info-paragraph__p--extra-padding {
    padding: 30px 80px;
}

// ------------reviews section---------------------------

.reviews {
    background: $charcoal;
    display: flex;
    flex-direction: column;
    align-items: center;
     padding-bottom: 100px;
}

.reviews__figure-container{
    position: relative;
}

.reviews__icon {
    color:lightgrey;
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
}

.reviews__icon--left {
    left: -50px;
}

.reviews__p {
    color: white;
    width: 45%;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 50px;
    color: $lightgrey;
}

.reviews__icon--right {
    right: -50px;
}

.reviews__p--italic {
    font-style: italic;
    padding-top: 20px;
}

.section-header--white {
    color: white;
}

// -------------------events section----------------
.gallery-cell--thirds {
    flex: 1 0 33%;
}

.gallery-cell--fourths {
    flex: 1 0 25%;
}

.gallery-cell__caption--extended {
    position: absolute;
    text-align: center;
    color: white;
    background: rgba(42, 42, 42, 0.7);
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 40px 30px;
}

.gallery-cell--thirds:hover .gallery-cell__caption--extended{
        display: block;
    }

.gallery-cell__header--underline {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.gallery-cell__p {
    padding-top: 15px;
    font-size: 1.6rem;
}

.gallery-cell__p--white {
    color: white;
}

// ------------------questions section-----------------

.questionForm {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.questionForm__input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 40%;
    font-size: 1.8rem;
}

.questionForm__input::placeholder {
    text-align: center;
    color: black;
    font-size: 1.6rem;
    font-family: "Lora";
    
}

// -------------------stats section ---------------------

.stats {
    background: $yellow;
    padding: 100px 0;
}

.gallery-container--stats {
    justify-content: space-around;
}

.stats__icon-container {
    flex: 1 0 25%;
    text-align: center;
}

.stats__icons {
    font-size: 4rem;
    color: $charcoal;
    padding-bottom: 20px;
}

.stats__p {
    font-size: 2rem;
    padding-top: 10px;
}

// --------------------- blog section ------------------

.blog {
    padding-bottom: 100px;
}

.gallery-cell--margin {
    margin: 10px;
    flex: 1 0 calc(33% - 20px);
}

.blog-thumbnail__header {
    padding: 10px 0;
}

.blog-thumbnail__link {
    color: $red;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
}

.blog-thumbnail__link__icon {
    color: $red;
    font-size: 1.1rem;
    position: absolute;
    right: -15px;
    top: -1px;
}

// --------------------- footer section ----------------
.footer {
    background: $charcoal;
    color: white;
    padding: 100px 0 20px 0; 
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

// ----------------------contact info ---------------------

.contact {
    flex: 1 0 33%;
}

.contact__header {
    padding-bottom: 40px;
    color: white;
}

.contact__list {
    list-style-type: none;
    line-height: 2;
    font-size: 1.4rem;
    margin: 0;
    padding: 0 0 10px 0;
}

.contact__list-item__icon {
    padding-right: 5px;
}

.newsletter {
    position: relative;
}
.newletter__input {
    background: $charcoal;
    border: white 0.5px solid;
    color: white;
    width: 60%;
    padding: 5px 0 5px 5px;
}

.newsletter__submit {
    border: none;
    background: $charcoal;
    position: absolute;
    top: 5px;
    left: 185px;
}

.newsletter__submit__icon {
    color: white;
}

// --------------------- about us -----------------------

.footer-paragraph {
    display: flex;
    flex-direction: column;
    flex: 1 0 33%;
    text-align: left;
    color: white;
}

.footer-paragraph__header {
    padding-bottom: 40px;
    color: white;
}

.footer-paragraph__p {
    font-size: 1.4rem;
    padding-right: 50px;
    line-height: 1.8;
}

.footer-paragraph__p {
    color: white;
}

// --------------------- instagram --------------------
.gallery-cell--margin {
    margin: 10px;
}

.instagram {
    flex: 1 0 33%;
    flex-wrap: wrap 
}

.instagram__header {
    padding-bottom: 40px;
    color: white;
}

.instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instagram-container__cell {
    flex: 1 0 calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    // margin-bottom: 10px;
}

.instagram-container__img {
    width: 100%;
}

// ----------------footer nav ---------------------
.nav--footer {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.nav__logo--footer {
    align-self: center;
}

.nav__list--footer {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.nav__item--footer {
    padding: 10px;
}

.copyright {
    text-align: center;
}

// ------------------ social icons-----------------------

.socialIcons {
    position: fixed;
    top: 40%;
    right: 0;  
}

.icon-container {
    display: flex;
    flex-direction: column;
}

.icon-container__icon {
    color: $lightgrey;
    font-size: 2rem;
    width: 30px;
    padding: 30px 0;
}


@import "media-queries.scss";







