article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  color: #2a2a2a; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 3.2rem;
  padding: 80px 0 65px 0;
  text-align: center;
  font-weight: 800; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.6rem;
  text-transform: capitalize; }

h6 {
  font-size: 1.2rem;
  text-align: center;
  color: white; }

p {
  font-size: 1.8rem;
  font-family: "Lora", serif;
  line-height: 1.5;
  margin: 0;
  color: #2a2a2a; }

ul {
  margin: 0; }

.header {
  background-image: url(assets/image-1.jpeg);
  height: 110vh;
  background-size: cover; }

.title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .title__h3 {
    padding: 15px 0; }

.title__h1 {
  color: white; }

.title__h3 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: white; }

.button {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  display: block;
  background: #da331d;
  width: 150px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  text-transform: uppercase;
  border: 2px solid transparent; }
  .button:hover {
    background: rgba(255, 255, 255, 0.8);
    border: #da331d 2px solid;
    color: #da331d; }

.button--black {
  background: #2a2a2a; }
  .button--black:hover {
    background: rgba(255, 255, 255, 0.8);
    border: #2a2a2a 2px solid;
    color: #2a2a2a; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px; }

.nav__logo {
  color: white;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  padding: 0;
  margin: 0;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 700; }

.nav__list {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 60%;
  flex: 1 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: inline; }

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* Screen reader only */
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  padding-left: 50px;
  line-height: 1em;
  font-size: 3em;
  color: white;
  text-align: right; }

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00; }

.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: left 0.3s ease, box-shadow 0.3s ease;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  transition: left 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  z-index: 999; }

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 5.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a; }

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white; }

.main-menu .menu-close {
  border: none; }

.main-menu li:first-child a {
  border-top: 1px solid #383838; }

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  padding-left: 20px; }

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0; }

.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25); }

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001; }

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000; }

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default; }

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed; } }

@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none; } }

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 75px;
  max-width: 900px; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gallery-container--half {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding: 0 50px; }

.gallery-cell {
  position: relative; }

.gallery-cell--half {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.gallery-cell--padding-right {
  padding-right: 60px; }

.gallery-cell--padding-left {
  padding-left: 60px; }

.gallery-cell__header {
  padding: 30px 0; }

.gallery-cell__img--smaller-width {
  max-width: 85%; }

.info-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.info-paragraph__p {
  padding: 20px 35px; }

.info-paragraph--half {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.info-paragraph__p--white {
  color: white; }

.info-paragraph__p--thirds {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%; }

.welcome {
  background: #e5bf4b;
  padding-bottom: 80px; }

.button--padding {
  margin-top: 50px; }

.info-paragraph__p--large {
  font-size: 2rem; }

.info-paragraph__p--no-padding {
  padding: 0; }

.services {
  padding-bottom: 100px; }

.info-paragraph__p--small {
  font-size: 1.6rem; }

.info-paragraph__p--extra-padding {
  padding: 30px 80px; }

.reviews {
  background: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px; }

.reviews__figure-container {
  position: relative; }

.reviews__icon {
  color: lightgrey;
  position: absolute;
  font-size: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.reviews__icon--left {
  left: -50px; }

.reviews__p {
  color: white;
  width: 45%;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 50px;
  color: #d2cfcf; }

.reviews__icon--right {
  right: -50px; }

.reviews__p--italic {
  font-style: italic;
  padding-top: 20px; }

.section-header--white {
  color: white; }

.gallery-cell--thirds {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%; }

.gallery-cell--fourths {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%; }

.gallery-cell__caption--extended {
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(42, 42, 42, 0.7);
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px 30px; }

.gallery-cell--thirds:hover .gallery-cell__caption--extended {
  display: block; }

.gallery-cell__header--underline {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  width: 80%;
  margin: 0 auto;
  color: white; }

.gallery-cell__p {
  padding-top: 15px;
  font-size: 1.6rem; }

.gallery-cell__p--white {
  color: white; }

.questionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px; }

.questionForm__input {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 40%;
  font-size: 1.8rem; }

.questionForm__input::-webkit-input-placeholder {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  font-family: "Lora"; }

.questionForm__input:-ms-input-placeholder {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  font-family: "Lora"; }

.questionForm__input::-ms-input-placeholder {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  font-family: "Lora"; }

.questionForm__input::placeholder {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  font-family: "Lora"; }

.stats {
  background: #e5bf4b;
  padding: 100px 0; }

.gallery-container--stats {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.stats__icon-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  text-align: center; }

.stats__icons {
  font-size: 4rem;
  color: #2a2a2a;
  padding-bottom: 20px; }

.stats__p {
  font-size: 2rem;
  padding-top: 10px; }

.blog {
  padding-bottom: 100px; }

.gallery-cell--margin {
  margin: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(33% - 20px);
  flex: 1 0 calc(33% - 20px); }

.blog-thumbnail__header {
  padding: 10px 0; }

.blog-thumbnail__link {
  color: #da331d;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative; }

.blog-thumbnail__link__icon {
  color: #da331d;
  font-size: 1.1rem;
  position: absolute;
  right: -15px;
  top: -1px; }

.footer {
  background: #2a2a2a;
  color: white;
  padding: 100px 0 20px 0; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: white; }

.contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%; }

.contact__header {
  padding-bottom: 40px;
  color: white; }

.contact__list {
  list-style-type: none;
  line-height: 2;
  font-size: 1.4rem;
  margin: 0;
  padding: 0 0 10px 0; }

.contact__list-item__icon {
  padding-right: 5px; }

.newletter__input {
  background: #2a2a2a;
  border: white 0.5px solid;
  color: white;
  width: 100%;
  padding: 5px 0 5px 5px; }

.newsletter__container {
  position: relative;
  width: 60%;
  padding: 0; }

.newsletter__submit {
  border: none;
  background: #2a2a2a;
  position: absolute;
  top: 5px;
  left: 185px; }

.newsletter__submit__icon {
  color: white;
  position: absolute;
  right: 5%;
  top: 20%; }

.footer-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  text-align: left;
  color: white; }

.footer-paragraph__header {
  padding-bottom: 40px;
  color: white; }

.footer-paragraph__p {
  font-size: 1.4rem;
  padding-right: 50px;
  line-height: 1.8; }

.footer-paragraph__p {
  color: white; }

.gallery-cell--margin {
  margin: 10px; }

.instagram {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.instagram__header {
  padding-bottom: 40px;
  color: white; }

.instagram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.instagram-container__cell {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(25% - 10px);
  flex: 1 0 calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px; }

.instagram-container__img {
  width: 100%; }

.nav--footer {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 80px; }

.nav__logo--footer {
  -ms-flex-item-align: center;
  align-self: center; }

.nav__list--footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin: 0;
  padding: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.nav__item--footer {
  padding: 10px; }

.copyright {
  text-align: center; }

.socialIcons {
  position: fixed;
  top: 40%;
  right: 0; }

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.icon-container__icon {
  color: #d2cfcf;
  font-size: 2rem;
  width: 30px;
  padding: 30px 0; }

@media (max-width: 1100px) {
  .wrapper {
    width: 90%; }
  .gallery-cell__caption--extended {
    padding-top: 20px; }
  .gallery-cell__header--underline {
    padding: 0;
    font-size: 2.4rem; } }

@media (max-width: 1000px) {
  .header {
    background-image: url(assets/image-1_medium.jpg); }
  .gallery-cell--padding-right {
    padding-right: 20px; }
  .gallery-cell--padding-left {
    padding-left: 20px; } }

@media (max-width: 850px) {
  .nav__list {
    display: none; }
  .nav {
    width: 40%;
    display: block; }
  .nav__logo {
    float: left;
    width: 60%; }
  .menu-toggle {
    width: 30%;
    float: right;
    padding-top: 5px; }
  .title {
    width: 60%; }
  .info-paragraph__p--extra-padding {
    padding: 10px 20px; }
  .gallery-container--events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__logo--footer {
    display: none; } }

@media (max-width: 780px) {
  .gallery-container--half {
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  .gallery-cell--padding-right {
    padding-right: 0px; }
  .gallery-cell--padding-left {
    padding-left: 0px; }
  .footer-paragraph {
    display: none; }
  .footer-container {
    width: 80%;
    margin: 0 auto; } }

@media (max-width: 650px) {
  .info-paragraph--half {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-top: 20px; }
  .gallery-cell--padding-all {
    margin: 20px; }
  .gallery-cell--flex-order {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .gallery-cell--flex-order-last {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .gallery-cell__caption--extended {
    position: static;
    display: block;
    color: #2a2a2a;
    background: transparent;
    padding-top: 0;
    padding-bottom: 50px; }
  .gallery-cell__header--underline {
    color: #2a2a2a;
    font-size: 2.4rem;
    padding-bottom: 0; }
  .gallery-cell__p {
    color: #2a2a2a;
    padding-top: 5px; }
  .gallery-cell__header--underline {
    font-size: 2rem;
    padding-top: 15px; } }

@media (max-width: 500px) {
  .header {
    background-image: url(assets/image-1_small.jpg); }
  .title__h1, .title__h3 {
    text-shadow: 2px 2px black; }
  .reviews__p {
    width: 80%;
    font-size: 1.6rem; }
  .gallery-cell__p {
    font-size: 1.4rem; }
  .questionForm__input {
    width: 80%; }
  .stats__icon-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding-bottom: 40px; }
  .gallery-container--blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav--footer {
    display: none; }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-bottom: 40px;
    text-align: center; }
  .contact__header {
    text-align: center; }
  .newsletter__container {
    width: 100%; }
  .instagram__header {
    text-align: center; }
  .instagram-container__cell {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(33% - 10px);
    flex: 1 0 calc(33% - 10px); }
  .instagram-container__cell:nth-of-type(7) {
    display: none; }
  .instagram-container__cell:nth-of-type(8) {
    display: none; } }
